{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "ignorePatterns": [
    ".eslintrc.js",
    "**/dist/**",
    "**/dist-types/**",
    "**/examples/**"
  ]
}
